<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Zebra Encoder</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"> -->
</head>

<h1 >Zebra</h1>

<form action="your-image" method="post" enctype="multipart/form-data"> 
    <div class="wrapper">
        <div class="file-upload">
          <input type="file" />
            <p>
                <br>
                <span style="font-size:130px; line-height:80%;"> &#8679; </span>
                <br>
                <span style="font-size:23px; line-height:140%;">Upload image</span>
            </p>
        </div>
    </div> 

    <br>
    <label for="size">Choose a size:</label>
    <select id="size" name="size">
        <option value="resize">Resize</option>
        <option value="none">No Adjustment</option>
    </select>
    <br>
    <input type="submit" value="Submit">
</form>

</html>
